@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --app-background:#1C1C1C;
  --gray:#3D3D3D;
  --purple:#6943FF;
  --lilac:#B295FF;
  --light-mode-charcoal:#353535;
  --light-mode-plum:#5A537B;
  --light-mode-whitesmoke:#F4F4F4;
  --dark-mode-charcoal:#1F2937;
  --dark-mode-pastel-purple:#CCC1FF;
  --dark-mode-night:#273549;

}

#--app-app-container{
  background-color:var(--app-background);
  min-height:100vh;
}

.--app-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin:10px 10px;
}

.--app-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: var(--purple);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px var(--purple);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
  }

  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #slider-text{
	color:whitesmoke;
	text-shadow:0 0 2px black;
  }

  #user-input-container{
    background-color:var(--purple);
    padding:33px 0px;
  }

  #user-input-title{
    color:white;
    font-family: 'Inter', sans-serif;
    font-size:28px;
    font-weight:800;
    text-align:center;
  }

  #user-input-value{
    background-color:transparent;
    color:#FFFFFF;
    border:1px solid var(--lilac);
    width:117px;
    height:83px;
    display:block;
    margin:30px auto;
    font-size:58px;
    font-weight:800;
    text-align:center;
  }

  #convert-btn{
    background-color:#FFFFFF;
    color:var(--gray);
    font-size:16px;
    font-family:'Inter', sans-serif;
    line-height:24px;
    padding:9px 27px;
    display:block;
    margin:0 auto;
    border-radius:5px;
  }

  #conversion-table-container{
    padding:36px;
  }

  .light-mode-conversion-table-container{
    background-color:var(--light-mode-whitesmoke);
  }

  .dark-mode-conversion-table-container{
    background-color: var(--dark-mode-charcoal);
  }

  .conversion-containers{
    margin:24px 0px;
    min-height:109px;
  }

  .light-mode-conversion-containers{
    background-color:#ffffff;
  }

  .dark-mode-conversion-containers{
    background-color:var(--dark-mode-night);
  }

  .conversion-title{
    font-family: 'Inter', sans-serif;
    font-size:20px;
    font-weight:700;
    text-align: center;
    padding-top:31px
  }

.light-mode-conversion-title{
  color:var(--light-mode-plum);
}

.dark-mode-conversion-title{
  color:var(--dark-mode-pastel-purple);
}

  .con-span-styling{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    line-height:20px;
    display:block;
    text-align: center;
    margin:4.5px 0px;
  }

  .light-mode-spans-container{
    color:var(--light-mode-charcoal);
  }

  .dark-mode-spans-container{
    color:#ffffff;
  }


  .divider{
    display: none;
  }


  @media screen and (min-width:768px) {
    #--app-content-container{
      max-width:550px;
      margin:0 auto;
    }
    .con-span-styling{
      display:inline;
    }

    .spans-container{
      text-align: center;
    }

    .divider{
      display: initial;
    }
  }